__pycache__
.git
.dockerignore
.gitignore
pip-log.txt
pip-delete-this-directory.txt
.idea/
.env
!data/.env
.venv
/env
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.history
*.dump
.gitconfig
.cache/
*.log
/tmp
.pytest_cache/
*.tfvars
.terraform/